body, input, textarea {
    font-family: 'Nunito', sans-serif;
}

html, body {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;

    background-attachment: fixed;
}

::placeholder {
    color: inherit;
    opacity: 0.48;
}

.overlay {
    inline-size: 100%;
    min-block-size: 100vh;

    --opacity: 72%;

    background-image: linear-gradient(to right top, hsla(325.88deg,52.58%,61.96%,var(--opacity)), hsla(310.5deg,41.67%,62.35%,var(--opacity)), hsla(286.48deg,40.11%,65.29%,var(--opacity)), hsla(262.19deg,48.36%,70.4%,var(--opacity)), hsla(240deg,54.2%,74.31%,var(--opacity)), hsla(222.24deg,72.06%,73.33%,var(--opacity)), hsla(211.71deg,84.83%,71.57%,var(--opacity)), hsla(203.92deg,91.08%,69.22%,var(--opacity)), hsla(196.4deg,98.85%,65.88%,var(--opacity)), hsla(190.11deg,100%,62.75%,var(--opacity)), hsla(184deg,94.74%,62.75%,var(--opacity)), hsla(176.15deg,95.12%,67.84%,var(--opacity)));
    background-attachment: fixed;

    backdrop-filter: opacity(0.32);
}

search {
    background-color: rgba(11, 17, 28, 0.48);
    backdrop-filter: blur(24px);

    border-radius: 2rem;
    padding-inline: 1rem;

    inline-size: fit-content;
}

search input {
    background: transparent;
    border: none;
    min-inline-size: 286px;

    padding-block: 1rem;
    padding-inline: 0.5rem 0;

}

search input:focus-visible {
    outline: none;
}

search form .search-icon {
    transform: rotate(270deg);
}

.servers .server-card {
    background-color: rgba(11, 17, 28, 0.48);
    backdrop-filter: blur(24px);

    max-inline-size: 340px;
    inline-size: 100%;

    text-decoration: none;
    color: inherit;
}

.servers .location-flag {
    user-select: none;
    pointer-events: none;
}

.servers .ip {
    background-color: rgba(11, 17, 28, 0.48);
    backdrop-filter: blur(16px);
    inline-size: fit-content;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
}

.servers .edit-action {
    backdrop-filter: blur(16px);
}
