:root {
    --qr-code-text: #5bb193;
    --qr-code-bg: #212529;
}

body, input, textarea {
    font-family: 'Nunito', sans-serif;
}

html, body {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;

    background-attachment: fixed;
}

::placeholder {
    color: inherit;
    opacity: 0.48;
}
